extends layout
block head
    title LumbaShark
block content
    div(class="container col-xxl-8 px-4 py-5")
        div(class="row flex-lg-row-reverse align-items-center g-5 py-5")
            div(class="col-10 col-sm-8 col-lg-6")
                img(src="https://getbootstrap.com/docs/5.1/examples/heroes/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy")
            div(class="col-lg-6")
                h1(class="display-5 fw-bold lh-1 mb-3") LumbaShark
                p(class="lead") A easy and quickly way to build your authorization service on your website or desktop/moblie application with OAuth
                div(class="d-grid gap-2 d-md-flex justify-content-md-start")
                a(href='/management/developer/signup' class="btn btn-primary btn-lg px-4 me-md-2") Become a developer
                a(href='/management/users/signup' class="btn btn-outline-secondary btn-lg px-4") Sign up as a user

        div(class="container px-4 py-5")
            h2(class="pb-2 border-bottom") Features
            div(class="row g-4 py-5 row-cols-1 row-cols-lg-3")
                div(class="col d-flex align-items-start")
                    div(class="text-dark flex-shrink-0 me-3")
                        i(class="bi-clock-history" style="font-size: 2rem;")
                    div
                        h2 Simple to use
                        p LumbaShark is a developer friendly authorization system, you can become a developer free. Without cost!
                        a(href="/management/developer/signup" class="btn btn-primary") Become a developer

                div(class="col d-flex align-items-start")
                    div(class="text-dark flex-shrink-0 me-3")
                        i(class="bi-lock" style="font-size: 2rem;")
                    div
                        h2 Protect your data
                        p LumbaShark has a friendly system to let you kown service povider can get what your personal data, can
                        a(href="/management/users/signup" class="btn btn-primary") Sign up as a user

