doctype html
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head

        <!--  Bootstrap  -->
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")

        block styles
            style.
                @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
                html .full-height {
                    height: 100vh;
                }
        block scripts
            script(src="/bootstrap/js/bootstrap.bundle.min.js")
    body
        block content

        // Footer
        div(class="container")
            footer(class="row row-cols-5 py-5 my-5 border-top")
                div(class="col")
                    a(href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none")
                        img(class="bi me-2" width="32" height="32" src="/favicon.ico")
                        span LumbaShark
                    p(class="text-muted") © 2022 SmartSheep Studio

                // Space
                div(class="col")

                div(class="col")
                    h5 Cooperation
                    ul(class="nav flex-column")
                        li(class="nav-item mb-2")
                            a(href="#" class="nav-link p-0 text-muted") Home
