extends ../layout
block head
    title Developer Sign Up | LumbaShark
block content
    div(class='full-height row align-items-center')
        div(class='col-lg-3 col-md-6 col-xs-7 mx-auto')
            h4(class='text-center' style='line-height: 60px')
                img(src='/favicon.ico' alt='LumbaShark' height='80' width='80')
            if(success)
                div(class='card text-white bg-success')
                    div(class='card-body text-center')
                        b #{success}
                        br
                        span Welcome join SmartSheep Cloud developers family!
                        br
                        span Now you can enjoy a lot of service of SmartSheep Cloud!
                        br
                        div(class='text-center')
                            a(href='/' class='text-white')
                                b Go Back
            else if (error)
                div(class='card text-white bg-danger')
                    div(class='card-body text-center pb-0')
                        b Signup Failed
                        br
                        span #{error}
                    hr
                    div(class='card-body pt-0')
                        span Error occured, please check your input
                        br
                        ul
                            li Check your username
                            li Check your password
                            li Check your user state
                        ul
                        div(class='text-center')
                            a(href='javascript:go_back()' class='text-white')
                                b Go Back
            else
                div(class='card')
                    div(class='card-body' id='signin-form')
                        form(action='/management/developer/signup', method='POST')
                            div(id='signin-content')
                                h6(class='text-center') Sign in to sign up as a developer
                                div
                                    label(for="username" class="form-label") Username
                                    input(type="text" class="form-control" name="username" id="username" required)
                                div(class='mt-3')
                                    label(for="password" class="form-label") Password
                                    input(type="password" class="form-control" name="password" id="password" required)
                            br
                            div(id='authorization-zone' class='text-center')
                                a(class="btn btn-secondary float-start" href='javascript:go_back()' style="width: 49%") Cancel
                                button(type="submit" class="btn btn-success float-end" style="width: 49%") Sign in
                                br
                                br
                                a(href='/management/users/signup') Didn't have account? Join us now!
    script.
      function go_back() {
        history.go(-1);
      }
